{% extends "base.html" %}
{% block content %}

<div class="mt-40 text-center">
  <!-- TODO: Display the user's name dynamically -->
  <h1 class="text-white text-2xl font-semibold tracking-wide drop-shadow-md mb-6">
    Welcome, {{ current_user.name}}!
  </h1>

  <!-- TODO: Make a GET request to the /download path -->
  <a href="{{ url_for('download', filename='cheat_sheet.pdf') }}"
     class="inline-block bg-green-600 hover:bg-green-700 text-white text-sm px-5 py-2 rounded shadow-md transition">
    Download Your File
  </a>
</div>

{% endblock %}
